.card-roxo {
    max-width: 350px;
    background-color: #ede1ff;
    border-radius: 25px;
    padding: 30px;
    font-family: 'Poppins', sans-serif;

    &__item {
        padding: 10px;
    }

    &__plan {
        font-size: 22px;
    }

    &__price {
        font-weight: 600;
        font-size: 40px;
    }
}

:host ::ng-deep #primeiro .card-cancel-button {
    background-color: darkmagenta !important;
}

:host ::ng-deep #segundo .card-cancel-button {
    background-color: rgb(3, 178, 3) !important;
}